<!DOCTYPE html>
<title><%- title %></title>
<link
  rel="stylesheet" 
  type="text/css" 
  href="/assets/bootstrap/css/bootstrap.css">
<link
  rel="stylesheet" 
  type="text/css" 
  href="/assets/bootstrap/css/bootstrap-responsive.css">
<link
  rel="stylesheet" 
  type="text/css" 
  href="/assets/styles/main.css">
<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <a class="brand" href="/docs">Americano</a>
    <ul class="nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Project <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/docs/development">Development</a></li>
          <li><a href="/docs/release    ">Release</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/docs/markdown"   >Markdown</a></li>
          <li><a href="/docs/scaffolding">Scaffolding</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>